@font-face {
  font-family: 'digital-7-mono';
  src: url('./fonts/digital-7 (mono).ttf');
}

#countdown {
  font-family: 'digital-7-mono';
  font-size: 10rem;
  display: flex;
  flex-direction: 'row';
  justify-content: center;
}

#countdown-background {
  font-family: 'digital-7-mono';
  font-size: 10rem;
  color: rgba(58, 58, 58, 0.15);
  display: flex;
  position: absolute;
  z-index: -1;
}

#control-btns {
  display: flex;
  flex-direction: 'row';
  justify-content: center;
  gap: 0.5em;
}

#streak {
  display: flex;
  flex-direction: 'row';
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 2rem;
}